<a href="https://colab.research.google.com/github/sigurdee/FDA-project/blob/main/Group_prjoject_FDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Travel Insurance Prediction**

Group Project, Fundamentals of Data Science

In [3]:
import math
import numpy as np # imports a fast numerical programming library
import scipy as sp # imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm # allows us easy access to colormaps
import matplotlib.pyplot as plt # sets up plotting under plt
import pandas as pd # lets us handle data as dataframes
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split 
from sklearn.metrics import confusion_matrix  
import seaborn as sns
# sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

import seaborn as sns # sets up styles and gives us more plotting options

Open dataset using pandas

In [5]:
data_unchanged = pd.read_csv('/content/TravelInsurancePrediction.csv')
data_unchanged.drop('Unnamed: 0' , axis=1 , inplace = True)
data_unchanged.head()

   Age               Employment Type GraduateOrNot  AnnualIncome  FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad  TravelInsurance
0   31             Government Sector           Yes        400000              6                1            No                  No                0
1   31  Private Sector/Self Employed           Yes       1250000              7                0            No                  No                0
2   34  Private Sector/Self Employed           Yes        500000              4                1            No                  No                1
3   28  Private Sector/Self Employed           Yes        700000              3                1            No                  No                0
4   28  Private Sector/Self Employed           Yes        700000              8                1           Yes                  No                0

In [6]:
# First opening the csv file for the training data
# At this point having exchanged positive answers for 1 and negative for 0
data = pd.read_csv('/content/TravelInsurancePrediction_edit.csv')

In [7]:
data.drop('Unnamed: 0', axis = 1 , inplace = True)

In [8]:
data.head()

   Age  Employment Type  GraduateOrNot  AnnualIncome  FamilyMembers  ChronicDiseases  FrequentFlyer  EverTravelledAbroad  TravelInsurance
0   31                1              1        400000              6                1              0                    0                0
1   31                0              1       1250000              7                0              0                    0                0
2   34                0              1        500000              4                1              0                    0                1
3   28                0              1        700000              3                1              0                    0                0
4   28                0              1        700000              8                1              1                    0                0

In [9]:
# Function for extracting a single column: unsure wether or not this works for pd data, or only for numpy array

def column(matrix , i):
    return [row[i] for row in matrix]

In [10]:

# Using a built in Naive Bayes function

def GaussNB(load):

    x = load.drop(columns=['TravelInsurance'] , axis = 1) 
    y = load['TravelInsurance']

    x_train , x_test , y_train , y_test = train_test_split(x , y , test_size=0.25 , random_state=5)

    model = GaussianNB(var_smoothing=0.25)  # Testing here with different var_smoothings; around 0.25 gives highests acc

    # fit the model with the training data
    model.fit(x_train,y_train)

    # predict the target on the train dataset
    predict_train = model.predict(x_train)
    print('Target on train data',predict_train) 

    # Accuray Score on train dataset
    accuracy_train = accuracy_score(y_train,predict_train)
    print('accuracy_score on train dataset : ', accuracy_train)


    # Predict target on test dataset (which is 25 percent of the train)
    predict_test = model.predict(x_test)

    #Accuracy of test dataset, for comparison
    accuracy_test = accuracy_score(y_test , predict_test)
    print('accuracy_score on test dataset: ', accuracy_test)

    # Adding a confusion matrix for illustration, this for the testing set
    cm = confusion_matrix(y_test, predict_test)  
    print(cm)

In [11]:
GaussNB(data)

Target on train data [0 0 0 ... 0 0 0]
accuracy_score on train dataset :  0.774496644295302
accuracy_score on test dataset:  0.7826961770623743
[[300  20]
 [ 88  89]]

In [12]:
from sklearn.model_selection import train_test_split
X1, X2, y1, y2 = train_test_split(X_new2, y, random_state=5,
                                  train_size=0.25)

NameError: ignored

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
y2_model = model.fit(X1, y1).predict(X2)
y1_model = model.fit(X2, y2).predict(X1)
print(accuracy_score(y1, y1_model), accuracy_score(y2, y2_model))
print(precision_recall_fscore_support(y1, y1_model, zero_division=1))
print(precision_recall_fscore_support(y2, y2_model, zero_division=0))