<a href="https://colab.research.google.com/github/sigurdee/FDA-project/blob/main/Random_Forest_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import math
import numpy as np # imports a fast numerical programming library
import scipy as sp # imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.pyplot as plt # sets up plotting under plt
import pylab as pl # for plotting normalized distributions
import pandas as pd # lets us handle data as dataframes
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split 

# sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

import seaborn as sns # sets up styles and gives us more plotting options
np.random.seed(0)

In [2]:
data_main = pd.read_csv('/content/TravelInsurancePrediction.csv')
data_main.drop('Unnamed: 0' , axis=1 , inplace = True) #Removing unnecessary column
data_main.head()

   Age               Employment Type GraduateOrNot  AnnualIncome  FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad  TravelInsurance
0   31             Government Sector           Yes        400000              6                1            No                  No                0
1   31  Private Sector/Self Employed           Yes       1250000              7                0            No                  No                0
2   34  Private Sector/Self Employed           Yes        500000              4                1            No                  No                1
3   28  Private Sector/Self Employed           Yes        700000              3                1            No                  No                0
4   28  Private Sector/Self Employed           Yes        700000              8                1           Yes                  No                0

In [3]:
# At this point having exchanged positive answers for 1 and negative for 0
data = pd.read_csv('/content/TravelInsurancePrediction_edit.csv')

In [4]:
data.head()

   Unnamed: 0  Age  Employment Type  GraduateOrNot  AnnualIncome  FamilyMembers  ChronicDiseases  FrequentFlyer  EverTravelledAbroad  TravelInsurance
0           0   31                1              1        400000              6                1              0                    0                0
1           1   31                0              1       1250000              7                0              0                    0                0
2           2   34                0              1        500000              4                1              0                    0                1
3           3   28                0              1        700000              3                1              0                    0                0
4           4   28                0              1        700000              8                1              1                    0                0

In [5]:
data.shape

(1987, 10)

In [56]:
#the truth label vector
y=data['TravelInsurance']
print(y)

0       0
1       0
2       1
3       0
4       0
       ..
1982    1
1983    0
1984    0
1985    1
1986    0
Name: TravelInsurance, Length: 1987, dtype: int64

In [57]:
y.value_counts()

0    1277
1     710
Name: TravelInsurance, dtype: int64

In [7]:
#here the features that we want to use for the analisis
list_of_features=['Age', 'Employment Type', 'GraduateOrNot', 'AnnualIncome', 'FamilyMembers','ChronicDiseases', 'FrequentFlyer', 'EverTravelledAbroad']

In [8]:
X=data[list_of_features]
X

      Age  Employment Type  GraduateOrNot  AnnualIncome  FamilyMembers  ChronicDiseases  FrequentFlyer  EverTravelledAbroad
0      31                1              1        400000              6                1              0                    0
1      31                0              1       1250000              7                0              0                    0
2      34                0              1        500000              4                1              0                    0
3      28                0              1        700000              3                1              0                    0
4      28                0              1        700000              8                1              1                    0
...   ...              ...            ...           ...            ...              ...            ...                  ...
1982   33                0              1       1500000              4                0              1                    1
1983   28                0              1       1750000              5                1              0                    1
1984   28                0              1       1150000              6                1              0                    0
1985   34                0              1       1000000              6                0              1                    1
1986   34                0              1        500000              4                0              0                    0

[1987 rows x 8 columns]

In [10]:
#this split the dataset , the first part will be used to train the model, the other part to test it's accuracy
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=0)

In [11]:
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

1589
398
1589
398

In [12]:
X_train.shape

(1589, 8)

In [13]:
# standardization
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [54]:
#the choice of the model
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 0) # the another criterion is 'gini' 'entropy'
model.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=0)

In [51]:
#the actual training, and the result of the accuracy 
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = model.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
cm

array([[224,  36],
       [ 50,  88]])

In [52]:
accuracy_score(y_test, y_pred)

0.7839195979899497

In [60]:
# View the classification report for test data and predictions
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.86      0.84       260
           1       0.71      0.64      0.67       138

    accuracy                           0.78       398
   macro avg       0.76      0.75      0.76       398
weighted avg       0.78      0.78      0.78       398